@mixin base-btn {
  @apply w-max rounded-full flex items-center justify-center;
  height: 45px;
  padding: 12px 20px 14px 20px;
}

.regular-btn {
  @apply bg-grey1 text-btn-17 text-grey3 font-medium;
  @include base-btn;
}

.primary-btn {
  @apply bg-gradient-to-r from-purple2 to-purple3 text-btn-17 text-grey0 font-medium;
  @include base-btn;
}

.secondary-btn {
  @apply bg-purple-light font-medium text-small text-purple rounded-full;
  height: 45px;
  padding: 10px 16px 12px 16px;
}

.tag {
  @apply w-max rounded-full flex items-center justify-center;
  @apply bg-grey1 text-small text-grey4 font-medium;
  height: 38px;
  padding: 8px 16px 10px 16px;
}

.input-file-btn {
  @apply bg-purple-light font-medium text-small text-purple rounded-full;
  @include base-btn;
  &:hover {
    filter: brightness(0.85);
  }
}
