// GTWalsheim Pro

@font-face {
  font-family: "GTWalsheim Pro";
  src: url("/fonts/gtwalsheim_pro/black.ttf");
  font-weight: 900;
}

// Sofia Pro

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia_pro/regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia_pro/medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia_pro/bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia_pro/bold_italic.otf");
  font-weight: 700;
  font-style: italic;
}
